# Laravel & PHP
/vendor/
/node_modules/
/public/storage/
/storage/*.key
/storage/app/public/
/storage/framework/
/storage/logs/
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/hot
/public/build
/public/mix-manifest.json
/public/js/app.js.LICENSE.txt

